<section class="header">
    <div class="container">
        <nav class="header-nav d-flex align-items-center">
            <div class="header-logo">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                    alt="logo"><a href="#"></a></img>
            </div>
            <ul class="d-flex py-1">
                <li><a class="nav-link text-white pe-5" href="page2.html">系列鏡框</a></li>
                <li><a class="nav-link text-white pe-5" href="about.html">門市據點</a></li>
                <li><a class="nav-link text-white pe-5" href="#">部落格</a></li>
                <li><a class="nav-link text-white" href="#">常見問題</a></li>
            </ul>
        </nav>
    </div>
</section>