.footer {
  background-color: #AA0601;
  padding-top: 60px;
  padding-bottom: 32px;
}

.footer-nav img {
  width: 48px;
  height: auto;
}

.footer-body {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 32px;
}