<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1920-5</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons"/>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="location">

      <div class="container">
        <div class="location-header">
          <div class="location-title">
            <h2 class="fz-8">門市據點</h2>
            <div class="d-flex">
              <p class="fz-3">選擇地區</p>
              <div class="dropdown d-flex justify-content-space-between">台北市<span
                  class="material-icons">arrow_drop_down</span></div>
            </div>
          </div>
        </div>
        <div class="location-card">
          <div class="location-card-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
              alt="">
            <div class="location-card-title px-1  fz-3">台北中山旗艦店</div>
            <div class="fz-1 location-card-text">
              <p><span class="material-symbols-outlined">phone
                </span>電話：(02)000-1234</p>
              <p><span class="material-icons">access_time</span>營業時間：10:00-21:00</p>
              <p><span class="material-icons">location_on</span>地址：台北市中山區南京東路25巷2-1號</p>
            </div>
            <div class="location-card-footer text-white fz-3">
              <a href="#">詳細資訊</a>
            </div>
          </div>
          <div class="location-card-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
              alt="">
            <div class="location-card-title px-1  fz-3">台北綠園店</div>
            <div class="fz-1 location-card-text">
              <p><span class="material-symbols-outlined">phone
                </span>電話：(02)000-2345</p>
              <p><span class="material-icons">access_time</span>營業時間：10:00-21:00</p>
              <p><span class="material-icons">location_on</span>地址：台北市中正區復興南路 132-1 號</p>
            </div>
            <div class="location-card-footer text-white fz-3">
              <a href="#">詳細資訊</a>
            </div>
          </div>
          <div class="location-card-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
              alt="">
            <div class="location-card-title px-1  fz-3">台中清水旗艦店</div>
            <div class="fz-1 location-card-text">
              <p><span class="material-symbols-outlined">phone
                </span>電話：(02)000-1234</p>
              <p><span class="material-icons">access_time</span>營業時間：10:00-21:00</p>
              <p> <span class="material-icons">location_on</span>地址：台中市清水區經南一路 23 號 8 樓</p>
            </div>
            <div class="location-card-footer text-white fz-3">
              <a href="#">詳細資訊</a>
            </div>
          </div>
          <div class="location-card-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
              alt="">
            <div class="location-card-title fz-3">高雄中正形象店</div>
            <div class="fz-1 location-card-text">
              <p><span class="material-symbols-outlined">phone
                </span>電話：(07)000-2345</p>
              <p><span class="material-icons">access_time</span>營業時間：10:00-21:00</p>
              <p><span class="material-icons">location_on</span>地址：高雄市苓雅區中正路 38 號 12 樓</p>
            </div>
            <div class="location-card-footer text-white fz-3">
              <a href="#">詳細資訊</a>
            </div>
          </div>
          <div class="location-card-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
              alt="">
            <div class="location-card-title px-1  fz-3">高雄夢時代店</div>
            <div class="fz-1 location-card-text">
              <p><span class="material-symbols-outlined">phone
                </span>電話：(07)000-1234</p>
              <p><span class="material-icons">access_time</span>營業時間：10:00-21:00</p>
              <p><span class="material-icons">location_on</span>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
            </div>
            <div class="location-card-footer text-white fz-3">
              <a href="#">詳細資訊</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>