<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="pages">
      <div class="container d-flex">
        <div class="page-item">
          <h2 class="fz-4 p-3 t-center">OPTICAL</h2>
        </div>
        <div class="page-item">
          <h2 class="fz-4 p-3 t-center">SUNGLASSES</h2>
        </div>
        <div class="page-item">
          <h2 class="fz-4 p-3 t-center">FUNCTIONAL</h2>
        </div>
      </div>
    </div>
    <div class="banner d-flex">
      <div><img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true"
          alt=""></div>
      <div><img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true"
          alt=""></div>
    </div>
    <div class="shopping">
      <div class="container">
        <div class="t-center">
          <h2 class="shopping-title">2020 NEW COLLECTION</h2>
          <h3 class="shopping-subtitle mb-4">賽璐珞鈦金屬混合鏡框</h3>
        </div>
        <ul class="shopping-section">
          <li class="shopping-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true"
              alt="">
            <div class="shopping-item-price d-flex justify-content-space-between fz-3">
              <p>BJ41600S</p>
              <p class="text-primary">NTD3,460</p>
            </div>
            <div class="shopping-item-color d-flex">
              <div class="color-box bg-brown"></div>
              <div class="color-box me-1 bg-coffee"></div>
            </div>
          </li>
          <li class="shopping-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true"
              alt="">
            <div class="shopping-item-price d-flex justify-content-space-between fz-3">
              <p>BJ41600S</p>
              <p class="text-primary">NTD3,460</p>
            </div>
            <div class="shopping-item-color d-flex">
              <div class="color-box bg-brown"></div>
              <div class="color-box me-1 bg-coffee"></div>
            </div>
          </li>
          <li class="shopping-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true"
              alt="">
            <div class="shopping-item-price d-flex justify-content-space-between  fz-3">
              <p>BJ41600S</p>
              <p class="text-primary">NTD3,460</p>
            </div>
            <div class="shopping-item-color d-flex">
              <div class="color-box bg-brown"></div>
              <div class="color-box me-1 bg-coffee"></div>
            </div>
          </li>
          <li class="shopping-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true"
              alt="">
            <div class="shopping-item-price d-flex justify-content-space-between fz-3">
              <p>BJ41600S</p>
              <p class="text-primary">NTD3,460</p>
            </div>
            <div class="shopping-item-color d-flex">
              <div class="color-box bg-brown"></div>
              <div class="color-box me-1 bg-coffee"></div>
            </div>
          </li>
          <li class="shopping-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
              alt="">
            <div class="shopping-item-price d-flex justify-content-space-between  fz-3">
              <p>BJ41600S</p>
              <p class="text-primary">NTD3,460</p>
            </div>
            <div class="shopping-item-color d-flex">
              <div class="color-box bg-brown"></div>
              <div class="color-box me-1 bg-coffee"></div>
            </div>
          </li>
          <li class="shopping-item">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
              alt="">
            <div class="shopping-item-price d-flex justify-content-space-between  fz-3">
              <p>BJ41600S</p>
              <p class="text-primary">NTD3,460</p>
            </div>
            <div class="shopping-item-color d-flex">
              <div class="color-box bg-brown"></div>
              <div class="color-box me-1 bg-coffee"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <div class="container">
        <ul class="pagination d-flex justify-content-center">
          <li class="page-link"><a href="#">上一頁</a></li>
          <li class="page-link"><a href="#">1</a></li>
          <li class="page-link"><a href="#">2</a></li>
          <li class="page-link"><a href="#">3</a></li>
          <li class="page-link"><a href="#">4</a></li>
          <li class="page-link"><a href="#">5</a></li>
          <li class="page-link" style="background: #F2F2F2"><a href="#">下一頁</a></li>
        </ul>
      </div>
    </nav>









    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>